*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  // primary
  --strong-cyan: hsl(172, 67%, 45%);
  // colors
  --white: hsl(0, 0%, 100%);
  --very-dark-cyan: hsl(183, 100%, 15%);
  --grayish-cyan: hsl(184, 14%, 56%);
  --dark-grayish-cyan: hsl(186, 14%, 43%);
  --light-grayish-cyan: hsl(185, 41%, 84%);
  --very-light-grayish-cyan: hsl(189, 41%, 97%);
  --saturated-orange: hsl(12, 76%, 61%);
}

html {
  font-family: "Space Mono", sans-serif;
  font-size: 62.5%;
}

body {
  height: 100vh;
  font-size: 1.4rem;
  background-color: var(--light-grayish-cyan);
}
