.app {
  max-width: 90rem;
  height: 100%;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4rem;

  @include respond {
    justify-content: space-between;
    margin-top: 5rem;
  }
}

.logo {
  align-self: center;
  width: 10rem;
}

.attribution {
  font-size: 11px;
  text-align: center;

  a {
    color: hsl(228, 45%, 44%);
  }
}
