.u-margin-bottom {
  margin-bottom: 1rem; }

.u-margin-top {
  margin-top: 1rem; }

.u-hidden {
  display: none; }

.beauty-input {
  color: var(--very-dark-cyan);
  width: 100%;
  font-family: inherit;
  font-size: 2.4rem;
  position: relative;
  padding: 0.5rem 1rem;
  border: 2px solid transparent;
  background-color: var(--very-light-grayish-cyan);
  text-align: end;
  -moz-appearance: textfield;
  border-radius: 5px; }
  .beauty-input:focus {
    border: 2px solid var(--strong-cyan);
    outline: none; }
  .beauty-input:hover {
    border: 2px solid var(--strong-cyan);
    cursor: pointer; }
  .beauty-input::placeholder {
    color: var(--grayish-cyan); }
  .beauty-input--custom::placeholder {
    color: var(--dark-grayish-cyan); }
  .beauty-input--error:focus {
    border: 2px solid var(--saturated-orange); }
  .beauty-input::-webkit-inner-spin-button {
    appearance: none;
    margin: 0; }

.tip-calculator {
  background-color: var(--white);
  padding: 2.5rem;
  border-radius: 3rem;
  display: flex; }
  @media only screen and (max-width: 23.4375em) {
    .tip-calculator {
      flex-direction: column;
      gap: 2rem;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0; } }
  .tip-calculator__inputs-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 3rem;
    padding: 2rem 4rem 1rem 1rem; }
    @media only screen and (max-width: 23.4375em) {
      .tip-calculator__inputs-container {
        padding: 0 1rem; } }
  .tip-calculator__input-section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem; }
  .tip-calculator__heading-wrapper {
    display: flex;
    justify-content: space-between; }
  .tip-calculator__title {
    color: var(--dark-grayish-cyan); }
    .tip-calculator__title--white {
      color: var(--white); }
    .tip-calculator__title--error {
      color: var(--saturated-orange); }
  .tip-calculator__input-field {
    position: relative; }
  .tip-calculator__input-icon {
    width: 1.2rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 1rem; }
  .tip-calculator__tip-buttons {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem; }
    @media only screen and (max-width: 23.4375em) {
      .tip-calculator__tip-buttons {
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: repeat(2, 1fr); } }
  .tip-calculator__tip-button {
    background-color: var(--very-dark-cyan);
    color: var(--white);
    font-family: inherit;
    font-size: 2.4rem;
    border: none;
    border-radius: 5px;
    padding: 1rem 2rem; }
    .tip-calculator__tip-button--selected, .tip-calculator__tip-button:hover, .tip-calculator__tip-button:active {
      cursor: pointer;
      background-color: var(--strong-cyan);
      color: var(--very-dark-cyan); }
  .tip-calculator__outputs-container {
    background-color: var(--very-dark-cyan);
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 4rem;
    border-radius: 1.5rem; }
    @media only screen and (max-width: 23.4375em) {
      .tip-calculator__outputs-container {
        padding: 3rem; } }
  .tip-calculator__output-section {
    display: flex;
    flex-direction: column;
    gap: 3rem; }
    @media only screen and (max-width: 23.4375em) {
      .tip-calculator__output-section {
        gap: 1rem;
        margin-bottom: 3rem; } }
  .tip-calculator__output-field {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .tip-calculator__text {
    display: flex;
    flex-direction: column; }
  .tip-calculator__subtitle {
    color: var(--dark-grayish-cyan); }
  .tip-calculator__output-number {
    font-size: 4rem;
    color: var(--strong-cyan); }
    @media only screen and (max-width: 23.4375em) {
      .tip-calculator__output-number {
        font-size: 3rem; } }

.btn-reset {
  background-color: var(--strong-cyan);
  color: var(--very-dark-cyan);
  font-family: inherit;
  font-size: 2rem;
  padding: 1rem 2rem;
  text-transform: uppercase;
  border: none;
  border-radius: 5px; }
  .btn-reset:hover {
    cursor: pointer;
    background-color: var(--light-grayish-cyan); }
  .btn-reset--disabled {
    pointer-events: none;
    opacity: 0.3; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

:root {
  --strong-cyan: hsl(172, 67%, 45%);
  --white: hsl(0, 0%, 100%);
  --very-dark-cyan: hsl(183, 100%, 15%);
  --grayish-cyan: hsl(184, 14%, 56%);
  --dark-grayish-cyan: hsl(186, 14%, 43%);
  --light-grayish-cyan: hsl(185, 41%, 84%);
  --very-light-grayish-cyan: hsl(189, 41%, 97%);
  --saturated-orange: hsl(12, 76%, 61%); }

html {
  font-family: "Space Mono", sans-serif;
  font-size: 62.5%; }

body {
  height: 100vh;
  font-size: 1.4rem;
  background-color: var(--light-grayish-cyan); }

.app {
  max-width: 90rem;
  height: 100%;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4rem; }
  @media only screen and (max-width: 23.4375em) {
    .app {
      justify-content: space-between;
      margin-top: 5rem; } }

.logo {
  align-self: center;
  width: 10rem; }

.attribution {
  font-size: 11px;
  text-align: center; }
  .attribution a {
    color: #3e52a3; }
